
<!-- <div class="card">
    <p>{{planetary.title}}</p>
    <p>{{planetary.explanation}}</p>
    <img src="{{planetary.url}}" alt="">
</div> -->

<section class="inico">
    <div>
        <br><br>
        <h1 class="text-center">Astronomy Picture of the Day</h1>

        <br><br>
        

        <div class="card text-center">

            <div class="welcome"> {{planetary.title}} </div>
            <div class="card-img"> <img src="{{planetary.url}}" alt=""></div>
            <div class="text"> {{planetary.explanation}}</div>
        </div>
    </div>
</section>

