
<!-- <div class="card">
    <p>{{planetary.title}}</p>
    <p>{{planetary.explanation}}</p>
    <img src="{{planetary.url}}" alt="">
</div> -->

<section class="inico">
    <div >
        <br><br>
        <h1 class="text-center">Astronomy Picture of the Day</h1>
        <div class="card">
            <div class="card-image">
                <img src="{{planetary.url}}" alt=""></div>
            <div class="category"> {{planetary.title}} </div>
            <div class="heading"> {{planetary.explanation}}</div>
        </div>
    </div>
</section>

