
<section class="inicio">
    <div class="container">
    <br><br>
    <h1>Welcome to "Astronomy World"</h1>
<br><br>
    <button routerLink="/planetary" class="btn" type="button">
        <strong>Picture of the day</strong>
        <div id="container-stars">
          <div id="stars"></div>
        </div>
      
        <div id="glow">
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
      </button>
<br><br>
      <button routerLink="/planetary-list" class="btn" type="button">
        <strong>Picture of the day</strong>
        <div id="container-stars">
          <div id="stars"></div>
        </div>
      
        <div id="glow">
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
      </button>
<br><br>
      <button routerLink="/planetary-list" class="btn" type="button">
        <strong>Picture of the day</strong>
        <div id="container-stars">
          <div id="stars"></div>
        </div>
      
        <div id="glow">
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
      </button>


</div>
</section>
