
<!-- <div class="card">
    <p>{{planetary.title}}</p>
    <p>{{planetary.explanation}}</p>
    <img src="{{planetary.url}}" alt="">
</div> -->

<section class="inico-p">
  <div>
      <br><br>


      <div class="card center_absolute text-center">

        <div class="text">Astronomy Picture of the Day</div>

          <div class="welcome"> {{planetary.title}} </div> <br>
          <div class="card-img"> <img src="{{planetary.url}}" alt=""></div>
          <div class="text"> {{planetary.explanation}}</div>
      </div>
  </div>
</section>

